
@mixin FlexCenter($property) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $property;
}

.Container{
  @include FlexCenter(column);
  height: 80%;
  width:70%;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  .Content{
    @include FlexCenter(row);
    align-items: center;
    width:100%;
    height: 90%;
    background: whitesmoke;

    .ArrowRight{
      height:50px;
      width:50px;
    }
    .ArrowLeft{
      height:50px;
      width:50px;
    }
    .Slider{
      position: relative;
      width: 100%;
      height:90%;
      overflow: hidden;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
    .LineArrowRight{
      margin-right:10px;
      transform: rotate(225deg);
      border: 3px solid black;
      border-right: none;
      border-top: none;
      height:25px;
      width:25px;
    }
    .LineArrowLeft{
      margin-left:10px;
      transform: rotate(45deg);
      border: 3px solid black;
      border-right: none;
      border-top: none;
      height:25px;
      width:25px;
    }
    .LineArrowLeft:hover{
      border: 3px solid #b6ff3e;
      border-right: none;
      border-top: none;
    }
    .LineArrowRight:hover{
      border: 3px solid #b6ff3e;
      border-right: none;
      border-top: none;
    }
  }
  .Paginator{
    @include FlexCenter(row);
    width:100%;
    height: 10vh;
    background: whitesmoke;
    input{
      outline:none;
      margin:15px 15px ;
      border-width: 0;
      line-height: 40px;
      border-radius: 20px;
      color: black;
      background:whitesmoke ;
      font-size: 1rem;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      width: 10vw;
      height: 30px;
    }
    .buttonGo {
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      padding: 15px;
      color: #383d48;
    }

    .buttonGo span {
      display: block;
      overflow: hidden;
      max-width: 0;
      opacity: 0;
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      white-space: nowrap;
      letter-spacing: 1px;
      line-height: 1;
      transition: .4s ease;
    }

    .buttonGo:after {
      content: " \27A4";
      color:black;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 22px;
    }

    .buttonGo:hover span {
      max-width: 150px;
      opacity: 1;
      margin-right: 6px;
    }
  }
  .error{
    @include FlexCenter(row);
    color:red;
    width:100%;
    height: 5vh;
    background: whitesmoke;
  }
}

@media (max-width: 1200px){
  .Container{
    height: 70%;
    width:95%;
  }

}
@media (max-height: 600px) {
  .Container {
    height: 100%;
    width: 95%;
    .Content{
      height: 90%;
    }
  }
}





